:root {
  --primary-color: #00cff2;
  --text-color: #777;
  --black: #444;
  --white: #fff;
}

.navbar-brand {
  height: 60px;
  width: 60px;
}

.btn-sm {
  padding: 7px 15px;
  top: 3px;
}

.mg-l-10 {
  margin-left: 10px;
}

.mg-t-1em {
  margin-top: 1em;
}

.subscribe-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.start-free-text {
  flex: 2;
}

.start-free-btn {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.feature-image {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 1em;
  height: 200px;
}

.p-relative {
  position: relative;
}

.video-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
}

.video-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.shape-left:before {
  left: -53rem;
  right: unset;
  top: 17rem;
}

.shape-right:before {
  right: -53rem;
  left: unset;
  top: -17rem;
}

.about-thumb {
  border-radius: 10px;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: all 0.1s ease-in-out;
}

.about-thumb:hover {
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.6);
}

.form-select {
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  box-shadow: unset;
}

.form-select-icon {
  position: absolute;
  right: 30px;
  top: 20px;
}

.form-checkbox {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 14px;
  height: 50px;
  padding: 0 15px;
  border: none;
  box-shadow: none;
  border-radius: 0;
  transition: all 0.1s;
  outline: none;
  line-height: 1.5;
  font-weight: 400;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
}

.form-checkbox:hover {
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.form-checkbox-selected {
  border-image-source: linear-gradient(44deg, #2af598 0%, #009efd 100%);
  border-style: solid;
  border-image-slice: 1;
}

.form-checkbox-item {
  margin-bottom: 1rem;
}

.form-checkbox-label {
  display: flex;
  align-self: flex-start;
}

.form-checkbox-label span {
  font-size: 12px;
  color: #777;
  margin-left: 5px;
}

.form-content {
  display: flex;
  align-self: flex-start;
  text-align: left;
  line-height: 2;
  background: #fff;
  padding: 15px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
}

.form-submit-button {
  width: 100%;
  margin-top: 1rem;
}

.ta-center {
  text-align: center;
}

.footer-items .navbar-brand {
  width: 128px;
  height: 128px;
}

.navbar-brand .logo {
  max-height: 128px;
}

.social-media-icons .facebook,
.social-media-icons .twitter,
.social-media-icons .instagram {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background: #52c2cd;
  color: #fff;
  margin-left: 0.5em;
  margin-right: 0.5em;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.social-media-icons a:hover {
  border-bottom: 4px solid #2af598;
}

.footer-area .footer-items a:hover {
  color: #fff !important;
  cursor: pointer;
}

.changing-text {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

.blog-top-section {
  height: 250px;
}

.blog-top-image-container {
  max-height: 500px;
  overflow: hidden;
  position: relative;
}

.nav-dark {
  background: rgba(0, 0, 0, 0) linear-gradient(44deg, #2af598 0%, #009efd 100%)
    repeat scroll 0 0;
}

.social-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.social-icons svg {
  width: 30px;
  color: var(--black);
}

.meta-info ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.content-container p {
  font-size: 18px;
  line-height: 2;
}

.blog-title {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 16px;
  line-height: 1.5;
}

.blog-title a::after {
  width: 100px;
  height: 2px;
  background-color: #009efd;
}

.blog-details > .blog-title a {
  font-size: 48px !important;
}

.section-heading {
  margin-bottom: 20px;
}

/* Table CSS */
table {
  display: table;
  border-spacing: 2px;
  border-color: grey;
  width: 100%;
  border-collapse: collapse;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
  padding: 8px;
}

th {
  display: table-cell;
  vertical-align: middle;
  font-size: 18px;
  color: #fff;
  background-color: var(--primary-color);
}

th,
td {
  font-weight: unset;
  padding: 8px;
  text-align: left;
  line-height: 2;
  vertical-align: middle;
}

.blog-top-title {
  position: absolute;
  width: 100%;
  text-align: center;
  color: var(--white);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
}

h1,
h2,
h3 {
  line-height: 1.2;
  margin-bottom: 16px;
}

.content-container ul {
  margin-top: 16px;
  margin-bottom: 16px;
}

.content-container ul li {
  list-style-type: disc;
  margin-left: 20px;
  font-size: 15px;
  line-height: 2;
}

.gatsby-resp-image-figcaption {
  text-align: center;
}

.content-container h1 {
  font-size: 48px;
  line-height: 1.5;
}

.admin-thumb > .rounded-circle {
  border: 1px solid #0ebbdc;
  padding: 5px;
}

.admin {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-message {
  background: rgba(0, 0, 0, 0)
    linear-gradient(to right, #e40020 0%, #ea6da7 100%) repeat scroll 0 0;
  padding: 16px;
  font-size: 18px;
  color: #fff;
  margin-top: 1em;
  border-radius: 5px;
}

.contact-box {
  margin-top: 20px;
}

.hero__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 550px;
  position: relative;
  top: 90px;
  margin-bottom: 140px;
}

.hero__shadow {
  width: 50%;
  height: 5px;
  border-radius: 100%;
  position: absolute;
  top: calc(100% + 16px);
  left: 0;
  background: rgba(0, 0, 0, 0.05);
  transform: translateX(50%);
}

.hero__contentContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hero__contentContainer h1 {
  font-size: 32px;
}
.hero__contentContainer h2 {
  font-size: 18px;
  margin-bottom: 16px;
}

.cards__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 32px;
  row-gap: 32px;
  margin-top: 32px;
  margin-bottom: 50px;
}

.card__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  border: 1px solid #f9f9f9;
  padding: 32px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: relative;
  align-items: center;
}

.card__container:after {
  position: absolute;
  content: "";
  height: 2px;
  width: calc(100% - 10px);
  border-radius: 50%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0)
    linear-gradient(to right, #00e4e2 0%, #81ee8e 100%) repeat scroll 0 0;
}

.card__details .gatsby-image-wrapper {
  margin-bottom: 16px;
}

.card__title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.card__content {
  font-size: 14px;
  margin-bottom: 16px;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.callToAction__container {
  width: 100vw;
  padding: 50px 100px;
  background: rgba(0, 0, 0, 0)
    linear-gradient(to right, #00e4e2 0%, #81ee8e 100%) repeat scroll 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin: 32px 0;
}

.callToAction__line {
  width: 250px;
  height: 1px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 16px 0;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.1);
}

.callToAction__container h1 {
  display: inline;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #fff;
  text-shadow: 0 1px 1px #6f6f6f;
}

.callToAction__container h2 {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #fff;
  margin-bottom: 16px;
}

.thumb-next i, .thumb-prev i {
  font-size: 60px;
  color: #d9d9d9;
}

.promotion__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
  align-items: center;
}

.promotion__details h1 {
  font-size: 24px;
}

.promotion__details p {
  font-size: 18px;
  line-height: 1.5;
}

.promotion__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
}

.dividedHero__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 500px;
  width: 100%;
  align-items: center;
}

.hamilePilatesi__dividedContainer {
  margin-top: 90px;
}

.dividedHero__details {
  padding: 50px;
}

.dividedHero__details p {
  font-size: 20px;
  line-height: 1.5;
}

.dividedHero__image {
  overflow: hidden;
  object-fit: cover;
  height: 100%;
}

.hamilePilatesi__promotion {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 75%;
  margin: 50px auto;
}

.hamilePilatesi__label {
  padding: 5px;
  background: rgba(0, 0, 0, 0)
  linear-gradient(to right, #00e4e2 0%, #81ee8e 100%) repeat scroll 0 0;
  color: #fff;
  font-size: 16px;
  margin-right: 8px;
  border-radius: 10px;
}

.hamilePilatesi__content {
  font-size: 16px;
}

.hamilePilatesi__content a {
  color: #0084e2;
}

.hamilePilates__line {
  display: block;
  margin: 32px auto;
  background: rgba(0, 0, 0, 0)
  linear-gradient(to right, #00e4e2 0%, #81ee8e 100%) repeat scroll 0 0;
  width: 75px;
  height: 2px;
}

.Tabbed__container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.Tabbed__tabContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  max-width: 800px;
}

.Tabbed__tab {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  margin-bottom: 10px;
}

.Tabbed__tab:hover {
  cursor: pointer;
}

.Tabbed__tab > p {
  font-size: 18px;
}

.Tabbed__tab.selected > p {
  font-weight: 600;
}

.Tabbed__tab.selected::after {
  content: "";
  background: rgba(0, 0, 0, 0)
  linear-gradient(to right, #00e4e2 0%, #81ee8e 100%) repeat scroll 0 0;
  position: relative;
  height: 2px;
  width: 100%;
  top: 10px;
}

.Tabbed__tabContent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.Tabbed__tabImage, .Tabbed__tabDetails {
  flex-grow: 1;
  flex-basis: 0;
  padding: 30px 15px;
}

.Tabbed__tabContentTitle {
  font-size: 20px;
  font-weight: 600;
}

.Tabbed__tabDetails p {
  font-size: 16px;
  line-height: 2;
  margin-bottom: 16px;
}

.MatPilates__center {
  margin: 0 auto;
}

.content-container li {
  list-style: decimal;
}

.content-container ol, ul {
  padding-left: 1.5rem;
  margin: 1rem 0;
  font-size: 1rem;
  line-height: 2;
}

.content-container ul li {
  list-style: circle;
}

.content-container ul li::marker {
  margin-left: 1rem;
}

.content-container ul li, ol li {
  margin-left: 1rem;
}

.content-container h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.content-container h2 {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.content-container h1 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.content-container .float-left {
  margin-right: 1rem;
}

.content-container blockquote {
  padding: 1rem;
  margin: 2rem 0;
  border: 1px solid #d9d9d9;
  border-left: 5px solid #333;
  border-radius: 5px;
  clear: both;

}